# This .gitignore file should be placed at the root of your Unity project directory

# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# ===================================== #
# Visual Studio / Rider / MonoDevelop   #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
.vscode/
.ncrunch/
.nCrunchSolution
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ================================= #
# Builds and local development files #
# ================================= #
# Uncomment this line if you wish to ignore your build folder. However, it's often useful to keep build files versioned in order to share them with teammates.
# Note: This line is particularly relevant for HoloLens 2 builds.
#/Build

# Uncomment the line below if you wish to ignore the .vsconfig file. This file is used to configure Visual Studio on a per-solution basis.
#*.vsconfig

# ================ #
# HoloLens-specific #
# ================ #
# Add here additional files/directories specific to HoloLens development if needed.
